@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Azeret Mono;
  background-color: rgba(160, 187, 249, 0);
  color: rgb(13, 19, 33);
  margin: 0;
  padding: 0;
}

/* Cards Shared Css */
.purple{
      background-color: rgba(255, 76, 30, 0.05);
}
.gray {
  background-color: rgba(0, 76, 232, 0.05);
}

.yellow {
  background-color: rgba(255, 223, 0, 0.05);
}

.cardHeading {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
}
.card-figure-1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-content-1>a>button{
  cursor: pointer;
  font-weight: 500;
  background-color:rgba(13, 19, 33, 0.02);
  border: 0.5 px gray;
  opacity: 0.6;
  
}
.reverse {
  box-shadow: 10px 0px 20px -4px rgba(95, 93, 93, 0.12);
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 0 auto;
  padding: 30px;
  background-color: inherit;
  text-align: right;
}

.inverse {
  box-shadow: -10px 0px 20px -4px rgba(95, 93, 93, 0.12);
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px;
  background-color: inherit;
}

.card-btn {
  padding: 15px 25px;
  font-weight: 300;
  font-size: large;
}

.heading-text {
  font-family: Azeret Mono;
  color: rgb(13, 19, 33);
  font-size: 2em;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
/* Cards shared css ends here */


.navbar {
  width: 80vw;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.322);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  height: 5vh;
  /* border: 2px solid gray; */
}

.name {
  color: rgb(13, 19, 33);
  font-size: 1.5em;
  font-weight: 800;
  line-height: 2em;
}

.downloadButton {
  padding: 15px 20px;
  /* border: 1px solid rgb(94, 115, 162); */
  border-radius: 8px;
  border: none;
  font-size: 1em;
  font-weight: 600;
  box-shadow: 0.5px 1.5px 2px inset;
  cursor: pointer;
}

.hero {
  background-image: url(./assets/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 2px solid red; */
  width: 100vw;
  height: 80vh;
}

.hero-banner-container {
  /* border: 5px dotted green; */
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  padding: 40px;
}

.hero-image-container {
  height: 40%;
  /* border: 5px dotted green; */
  text-align: center;
}
.hero-image {
  height: 100%;
}

.hero-title-container {
  height: 60%;
  margin-top: 0px;
  /* border: 5px dotted green; */
  text-align: center;
}

.heroTitle {
  font-family: Azeret Mono;
  font-size: 3em;
  font-weight: 800;
  text-align: center;
  line-height: 0.9em;
  letter-spacing: 0%;
  margin: 20px 0px 5px;
}
.shortDescription {
  /* border: 2px solid green; */
  margin-bottom: 20px;
  
  padding: 20px;
}

.hero-btn {
  margin: 5px;
  border-radius: 8px;
  background: black;
  color: white;
  opacity: 0.9;
  font-size: medium;
  padding: 1.5em 2em;
  border: none;
  cursor: pointer;
}

.hero-btn > a {
  text-decoration: none;
  color: azure;
}


.banner {
  background-color: rgba(13, 19, 33, 0.02);
  opacity: 10px;
  padding: 50px 0px;
  margin: 50px auto;
  max-width: 70vw;
  border-radius: 1em;
}

.bannerTitle {
  text-align: center;
  margin: 50px auto;
}

.banner-cards-container {
  /* border: 4px dashed blue; */
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 50px;
}

.inspiration {
  margin: 50px auto;
  padding: 20px;
  /* border: 4px solid green; */
  max-width: 70vw;
}
p {
  text-align: center;
}
.inspirationVideo {
  border: 1px solid rgba(13, 19, 33, 0.2);
  padding: 30px;
  margin: 0 auto;
  border-radius: 15px;
  min-width: 100%;
  height: 500px;
}
iframe {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.current-target-cards-container{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 40px auto;
}
.current-Target {
  margin: 50px auto;
  /* border: 4px solid green; */
  max-width: 70vw;
  padding: 40px;
}

.current-card {
  padding: 40px;
  border-radius: 15px;
}
.current-card p {
  text-align: left;
  opacity: 0.8;
}
.current-card a {
  font-weight: 800;
  color: black;
}

.nextTarget{
    margin: 50px auto;
  /* border: 4px solid green; */
  max-width: 70vw;
}

.next-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 20px auto;
}
.next-card p {
    text-align: left;
    opacity: 0.8;
  }
  .next-card a {
    font-weight: 800;
    color: black;
  }

  .support-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 40px;
    height: 40vh;
    width: 70vw;
    margin: 0 auto;
    /* border: 2px solid maroon; */
    border-radius: 10px;
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),linear-gradient(to left, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.8)),url(./assets/handshake.jpg);
    
    background-position: center;
    background-size: cover;
  }
  .support-container p{
    color: azure;
    opacity: 0.8;
  }
  .support-container input{
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    outline-style: none;
    border: none;
    background-color: azure;
  }
  .support-container input[type=submit]{
    margin-top: 20px;
    width: 10%;
    font-size: 15px;
font-weight: 600;
cursor: pointer;
  }

  footer{
    width: 100vw;
    height: 10vh;
    background-color: rgba(40, 41, 42, 0.05);
    margin-top: 100px;
  }
  .footer-container{
    width: 70vw;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-container{
    p{
        font-size: 18px;
        font-weight: 700;
        letter-spacing:1px;
    }
    ul{display: flex;
    column-gap: 20px;
    li{
        list-style: none;
    }}
    a{
        text-decoration: none
    };


  }

  .description-text{
    text-align: left;
    padding: 20px 0px;
  }

  .bannerTitleDescription{
    text-align: justify;
    width: 80%;
    margin: 0 auto;
  }

  .reverse>div>p{
    text-align: right;
    padding: 20px 0px;
  }